<nav>
  <h3> Bonjour : {{user.name}}</h3>
  <div class="btn-group" ngbDropdown>
    <button class="btn btn-outline-primary">{{menu[0]}}</button>
    <button class="btn btn-outline-primary">{{menu[1]}}</button>
    <button class="btn btn-outline-primary" ngbDropdownToggle *ngIf="isconected">
      Mon Compte
    </button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <h6 class="dropdown-header">{{user.name}}</h6>
      <button class="dropdown-item">Mes taches</button>
      <button class="dropdown-item">Mes idées</button>
    </div>
    <form class="form-inline">
      <input class="form-control" [(ngModel)]="user.name" name="nameuser" value="John Doe" >
    </form>
  </div>
</nav>


